/* ////// FUENTE ////// */
body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
}

h2 {
    font-size: 55px;
    font-weight: bold ;
}

/* ////// SECCIÓN NARANJA ////// */

.sidenav {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ef7c1a;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav img {
        width: 470px;
        padding: 30% 0% 10% 0%;
        margin-right: 1em;
        margin-left: 2em;
}        

/* ////// SECCIÓN BLANCA ////// */

.main {
    margin-left: 40%; /*igual al ancho del sidenav*/
    padding: 5% 0% 0% 10%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* ////// SCROLL BOX ////// */
scroll-box {
    background-color: #fff;
    width: 400px;
    height: 300px;
    overflow: scroll;
}


/* ////// WIFI ICONOS ////// */
.wifi-icon {
  width: 80px;
  height: 50px;
}

.wifi {
  width: 45px;
  height: 45px;
}

/* ////// LISTAS ////// */


#navigation nav ul {
    list-style: none;
}

/* ////// ESTILO DE LOS BOTONES ////// */

.btn-common {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    border: 5px solid #000;
    padding: 0.6em;
    width: 35%;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    margin-left: 50px;
    border-radius: 12px;
}
.btn-common:hover {
    color:#000;
    font-weight: bold;
    background: #fff;
    width: 35%;
    border-style: solid;
    border-bottom-color: #000;
    border-radius: 12px;
}